# .gitignore config

out/
output/
saves/
build/
.xmake/
*.gen.*
makefile
cmake-*/
vsbuild/

gamedir/assets/
gamedir/test/
gamedir/lite/
gamedir/code/libs
gamedir/*.pack
gamedir/*.zip
docs/
bin/

neko_cache/
source/api/gen
source/game/*/libs
source/tests
source/vendor
examples/

build.bat
imgui.ini
/profile.json

*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.obj
*.o
*.out
.vs
*.data

/*.zip
/*.json
/build
/debug
/release
/emdebug
/emrelease

.clangd/
.cache/
.ccls-cache
.ccls
.idea/
.vscode/
*.code-workspace
.history/

# Linux
*~
.directory
# macOS
.DS_Store
__MACOSX
# Windows
[Tt]humbs.db